# Set to "true" to show the photo gallery, "false" to show social media links instead.
# Use either variable; ENABLE_PHOTO_GALLERY is preferred on the server.
ENABLE_PHOTO_GALLERY=true
NEXT_PUBLIC_ENABLE_PHOTO_GALLERY=true

# Required when NEXT_PUBLIC_ENABLE_PHOTO_GALLERY=false
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/transportesep3/
NEXT_PUBLIC_TIKTOK_URL=https://www.tiktok.com/@transportes.ep3
